<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ReportClientesEntities" connectionString="metadata=res://*/RClientesReporte.csdl|res://*/RClientesReporte.ssdl|res://*/RClientesReporte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FacturaEntities" connectionString="metadata=res://*/Facturacion.csdl|res://*/Facturacion.ssdl|res://*/Facturacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FacturacionEntities" connectionString="metadata=res://*/FacturacionModel.csdl|res://*/FacturacionModel.ssdl|res://*/FacturacionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TicketsEntities" connectionString="metadata=res://*/TicketModel.csdl|res://*/TicketModel.ssdl|res://*/TicketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProductosEntities" connectionString="metadata=res://*/RProductosReporte.csdl|res://*/RProductosReporte.ssdl|res://*/RProductosReporte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FacturacionEntity" connectionString="metadata=res://*/RFacturaReporte.csdl|res://*/RFacturaReporte.ssdl|res://*/RFacturaReporte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FacturaEntiti" connectionString="metadata=res://*/RFacturaReporte.csdl|res://*/RFacturaReporte.ssdl|res://*/RFacturaReporte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RFacturaCompletaEntities" connectionString="metadata=res://*/RFacturaCompleta.csdl|res://*/RFacturaCompleta.ssdl|res://*/RFacturaCompleta.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FacturaInfoEntities" connectionString="metadata=res://*/RFacturaInfoCompleta.csdl|res://*/RFacturaInfoCompleta.ssdl|res://*/RFacturaInfoCompleta.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PedidosEntities" connectionString="metadata=res://*/RPedidosReporte.csdl|res://*/RPedidosReporte.ssdl|res://*/RPedidosReporte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PedidoFechaEntities" connectionString="metadata=res://*/RPedidoFechaReporte.csdl|res://*/RPedidoFechaReporte.ssdl|res://*/RPedidoFechaReporte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FechaPEntities" connectionString="metadata=res://*/RPedidoFecha.csdl|res://*/RPedidoFecha.ssdl|res://*/RPedidoFecha.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PFechaEntities" connectionString="metadata=res://*/RFechaPedidoReporte.csdl|res://*/RFechaPedidoReporte.ssdl|res://*/RFechaPedidoReporte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FPedEntities" connectionString="metadata=res://*/RPedFechaReporte.csdl|res://*/RPedFechaReporte.ssdl|res://*/RPedFechaReporte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FechaPedEntities" connectionString="metadata=res://*/RFPedReporte.csdl|res://*/RFPedReporte.ssdl|res://*/RFPedReporte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PedxFEntities" connectionString="metadata=res://*/RPedxFechaReporte.csdl|res://*/RPedxFechaReporte.ssdl|res://*/RPedxFechaReporte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PxFEntities" connectionString="metadata=res://*/RPedixFechReporte.csdl|res://*/RPedixFechReporte.ssdl|res://*/RPedixFechReporte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ClientePedidoEntities" connectionString="metadata=res://*/RClientePedidoReporte.csdl|res://*/RClientePedidoReporte.ssdl|res://*/RClientePedidoReporte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TractoLeo-Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>